<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./bootstrap.php"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.8/phpunit.xsd"

	colors="true"
	backupGlobals="false"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	forceCoversAnnotation="true"
	stopOnFailure="false"
	timeoutForSmallTests="10"
	timeoutForMediumTests="30"
	timeoutForLargeTests="60"
	beStrictAboutTestsThatDoNotTestAnything="true"
	beStrictAboutOutputDuringTests="true"
	beStrictAboutTestSize="true"
	stderr="true"
	verbose="false">
</phpunit>
